body {
  background-color: #7f76e2;
}

p {
  text-align: center;
  font-size: 20px;
}

input {
  padding: 7px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: black;
}
.forgot {
  color: #d24545;
}

.logo {
  max-width: 300px;
  margin: auto;
}

.background {
  max-width: 300px;
  margin: auto;
  background-color: aliceblue;
  padding: 50px;
  border-radius: 5px;
}

.btn {
  padding: 10px 10px;
  margin-right: 10px;
  border: none;
  color: #fff;
  border-radius: 10px;
}

.btn-orange {
  background-color: #d24545;
}

.btn-orange:hover {
  background-color: #e6baa3;
}

.btn-long {
  padding: 10px 30px;
}
