* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.collapse-mobile {
  display: none;
}

.nav-bg h3 {
  font-size: 5rem;
  width: 40%;
}

.nav-bg {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  align-items: center;
}

.contact-top,
.nav-links ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-top a,
.nav-links a {
  font-size: 0.9rem;
  color: black;
  font-weight: bold;
}

.landing {
  display: flex;
  padding: 3rem;
  justify-content: space-around;
  margin: auto;
  width: 80%;
}

.landing .landing-img {
  width: 25rem;
  order: 2;
}

.landing .landing-img img {
  width: 100%;
  height: 30rem;

  object-fit: cover;
}

.landing .social-icons {
  order: 1;
}

.landing .landing-content {
  order: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.landing-content h1 {
  order: 2;
  font-size: 5rem;
}

.landing-content p {
  font-size: 1rem;
  width: 50%;
  line-height: 1.5;
}

.landing .social-icons {
  align-self: flex-end;
  font-size: 1rem;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.landing .social-icons a {
  color: black;
}

.top-container {
  background-color: bisque;
}

.selected-work {
  background-color: #445635;
  color: #fff;
  position: relative;
}

.selected-work h2 {
  font-size: 4rem;
  padding: 5rem;
}

.link_address {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 35rem;
  align-items: center;
  padding: 30px 0;

  /* margin-bottom: 50px; */
}

.link_address a {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.link_address i {
  font-size: larger;
}

.selected-work img {
  width: 35rem;
  height: 35rem;
  object-fit: cover;

  border-radius: 10px;
}

.selected-work img:hover {
  transform: scale(0.9);
  transition: ease-in 0.5s;
}

.task-links {
  display: none;
}

.img_one {
  position: absolute;
  right: 10%;
  top: 40rem;
}

.selected_and_bio {
  display: flex;
  width: 80%;
  margin: auto;
}

.bio_work {
  width: 30%;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.5;
}

.img_two {
  margin-left: 10rem;
  margin-top: 5rem;
}

.img_three {
  position: absolute;
  right: 10%;
  top: 90rem;
}

.img_four {
  position: absolute;
  right: 10%;
  top: 140rem;
}

.img_five {
  position: absolute;
  right: 10%;
  top: 190rem;
}

/* testimonials  */

.testimonials {
  background-color: #fff3d6;
  padding: 10rem 0;
}

.testi_top {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20rem;
  margin-bottom: 150px;
}

.testi_top h4 {
  font-size: 1.2rem;
}

.testi_top p {
  font-size: 2.4rem;
  width: 60%;
  margin: 0 auto;
  line-height: 1.5;
  font-weight: 500;
}

.testi-toggle {
  display: flex;
  width: 80%;
  margin: auto;
  font-weight: 500;
  justify-content: space-between;
}

.testi-toggle p {
  font-size: 1.5rem;
}

.testi-toggle div i {
  font-size: 2rem;
  margin: 0 20px;
}

.user {
  font-size: 1.4rem;
  text-align: right;
}

/* footer  */
footer {
  display: flex;
  background-color: black;
  color: #fff;
  padding: 8rem;
  flex-direction: column;
  position: relative;
}

.social_footer {
  order: 1;
}

.social_footer h5 {
  font-size: 1.3rem;
  opacity: 0.4;
  font-weight: 300;
}
.social_footer ul {
  display: flex;
  gap: 20px;
}

.social_footer ul li {
  font-size: 1.6rem;
}

.social_footer ul li a {
  color: #fff;
}

footer h2 {
  order: 3;
  font-size: 10rem;
  margin: 50px 0;
}

footer table {
  order: 2;
  font-size: 0.9rem;
  padding: 5px;
}

footer .copy {
  order: 4;
  opacity: 0.4;
  font-size: 0.8rem;
}

footer .top_footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

footer hr {
  opacity: 0.4;
}

footer .get-in-touch p {
  background-color: #ffc83b;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 2rem;
  position: absolute;
  right: 15%;
  top: 13rem;
}
