<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>


    <div class="relatived-fifth">
        <div class="fifth-layer">
            <div class="text-centered">
            </div>
        </div>
        <div class="text">
            <div class="text-img"><img src="/Task22/img/toluwani.jpg" alt=""></div>

            <h4>Odife O.</h4>
            <p><em>
                    “ Dive into the transformative realm of Vephla, an epitome of excellence in tech education. Its
                    unparalleled structure
                    and mentor-mentee dynamics redefine the learning experience. Tech-savvy mentors stand ready to
                    demystify
                    each lesson,
                    making the complex seem simple and seamless. The tech-rich resources and interactive features not
                    only
                    engage but
                    immerse students, creating an ideal environment for fostering innovative thinking.
                    My tech education with Vephla has been a game-changer. It's more than just a learning platform; it's
                    a
                    tech haven where
                    knowledge and mentorship converge. If you crave effective guidance and a dynamic tech learning
                    environment, Vephla is
                    your destination. Elevate your tech journey with Vephla, where cutting-edge knowledge meets
                    inspiration.
                    ”.
                </em></p>
        </div>
    </div>

</body>

</html>